.vacancies__filter {
  background: var(--light);
  box-shadow: 0px 5px 10px rgba(91, 164, 164, 0.25);
  border-radius: 7px;
  min-height: 70px;
  display: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 115px;
  left: 15px;
  right: 15px;
  width: calc(100% - 30px);

  @media (min-width: 1024px) {
    top: 150px;
    max-width: 1000px;
    left: 50%;
    right: 50%;
    transform:translate(-50%, -50%);
  }

  &__btn {

    &-container {
      margin: 15px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 35px;
      row-gap: 10px;
      padding-left: 30px;
    }
  }

  &-clear {
    margin-left: 50px;
    margin-right: 20px;
    color: var(--primary);
    font-weight: 700;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      border-color: var(--primary);
    }
  }
}
