@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900);
body {
  box-sizing: border-box;
  background: var(--white);
  font-family: "League Spartan";
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
}

:root {
  --black: #202626;
  --white: hsl(180, 52%, 96%);
  --light: hsl(0, 0%, 98%);
  --primary: hsl(180, 29%, 50%);
  --gray: hsl(180, 8%, 52%);
  --dark-cyan: hsl(180, 14%, 20%);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
