.error-mess {
  padding: 250px 0;
  color: crimson;
  font-size: 32px;
  text-align: center;
}

.listEmpty-mess {
  padding: 250px 0;
  color: var(--primary);
  font-size: 32px;
  text-align: center;
}