body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

ul, ol {
    font-family: inherit;
    font-size: inherit;
    list-style: none;
}

button {
    font-family: inherit;
    font-size: inherit;
}